@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap')

//Main Color For Site
$mainColor: #d9082f
$gray: #515151
$black: #2b2b2b
$mainDarker: #a30623
$anton: 'Anton', sans-serif
$archivo: 'Archivo Narrow', sans-serif

@mixin title
	font-family: $anton
	letter-spacing: 0.05vw
	color: #2b2b2b
@mixin subtitle
	font-family: $archivo
	letter-spacing: 0.08vw
	color: #525151
	
*
	box-sizing: border-box

body
  margin: 0
  background-color: #f7f7f7

// declare container
.container
	margin: 0 auto
	width: 72vw
	display: flex
	flex-direction: column
// Header
.header
	width: 100%
	height: 80vh
	display: flex
// header left side
.leftSide
	margin: 0
	width: 35%
	height: 100%
	&_allStars
		font-size: 3vw
		margin-top: -5%
		@include title
	&_money
		margin-top: 30%
		font-family: $anton
		font-size: 1.2vw
		color: $mainColor
	&_subtitle
		font-size: 2.5vw
		margin-top: -13%
		letter-spacing: 0.1vw
		@include subtitle
		
	&_start
		transition: 0.5s all
		display: block
		text-decoration: none
		margin-top: -5%
		font-family: $archivo
		color: $black
		width: 9vw
		height: 6vh
		background-color: $mainColor
		border-radius: 0.8vw
		line-height: 6vh
		text-align: center
		font-size: 1.3vw
		&:hover
			background-color: $mainDarker
	&_online
		display: flex
		background-color: white
		width: 13vw
		height: 30%
		border-radius: 0.8vw
		flex-direction: column
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
		margin-top: 10%
		&_descr
			display: $black
			font-family: $archivo
			color: #515151
			margin-left: 8%
			margin-top: 7%
			letter-spacing: 0.1vw
			font-size: 0.8vw
		&_amount
			margin: 0
			display: block
			font-size: 3.5vw
			font-family: $anton
			color: $mainColor
			margin-left: 8%
			margin-top: 8%
//Right Side
.rightSide
	width: 60%
	height: 100%
	&_background
		background: linear-gradient(-30deg, $mainColor 10%, #db2874)
		width: 42vw
		height: 73vh
		border-radius: 2vw
		margin-left: 2vw
		margin-top: 4vh
	&_img
		position: relative
		margin-top: - 75vh
		width: 47vw
//Game Modes Container
.gameModes
	height: 70vh
	width: 100%
	display: flex
	flex-direction: column
	align-items: center
	//Text Container
	&_text
		margin-top: 4vw
		&_title
			margin: 0
			font-family: $anton
			text-align: center
			font-size: 2vw
			color: $black
		&_desc
			margin: 0
			font-family: $archivo
			text-align: center
			color: $gray
			font-size: 1.1vw
			letter-spacing: 0.1vw
	//Card Container
	&_cards
		width: 100%
		height: 60vh
		display: flex
		justify-content: center
		&_blackJack,&_poker
			width: 20vw
			height: 55vh
			margin-top: auto
			border-radius: 1vw
			position: relative
		//card 1
		&_blackJack
			background: linear-gradient(-30deg, #079172 10%, #23bebc)
			margin-right: 5vw
			&_title
				color: white
				font-family: $anton
				margin: 0
				margin-left: 1vw
				margin-top: 3vw
				line-height: 5vh
				font-size: 2.5vw
			&_desc
				color: #d4d4d4
				font-family: $archivo
				font-size: 1.2vw
				margin-left: 1vw
			&_online
				position: absolute
				color: white
				right: -2vw
				top: 4vw
				background-color: $mainColor
				border-radius: 1vw
				font-size: 2.2vw
				font-family: $archivo
				letter-spacing: 0.1vw
				display: block
				width: 8vw
				height: 4vh
				line-height: 0.5vh
			&_overflow
				position: relative
				width: 100%
				height: 100%
				overflow: hidden
				display: flex
				margin-top: -24vh
				&_img
					width: 18vw
					height: 36vh
					margin-top: 25vh
					margin-left: 4vw
					transform: rotate(-20deg)
		//card 2
		&_poker
			background:  linear-gradient(-30deg, #790fa5 10%, #b72499)
			&_title
				color: white
				font-family: $anton
				margin: 0
				margin-left: 1vw
				margin-top: 3vw
				line-height: 5vh
				font-size: 2.5vw
			&_desc
				color: #d4d4d4
				font-family: $archivo
				font-size: 1.2vw
				margin-left: 1vw
			&_online
				position: absolute
				color: white
				right: -2vw
				top: 4vw
				background-color: $mainColor
				border-radius: 1vw
				font-size: 2.2vw
				font-family: $archivo
				letter-spacing: 0.1vw
				display: block
				width: 8vw
				height: 4vh
				line-height: 0.5vh
			&_overflow
				position: relative
				width: 100%
				height: 100%
				overflow: hidden
				display: flex
				margin-top: -24vh
				&_img
					width: 18vw
					height: 36vh
					margin-top: 25vh
					margin-left: 4vw
					transform: rotate(-20deg)
.premium
	margin-top: 4.8%
	&_wrapper
		display: flex
		justify-content: space-between
	&_descr
		&_allStars
			font-size: 2.05vw
			text-align: left
			@include title
		&_info
			margin-top: 0.9vw
			font-size: 1.6vw
			line-height: 1.6vw
			@include subtitle
			
		&_btn
			margin-top: 1.7vw
			width: 8.7vw
			height: 5vh
			border-radius: 0.5vw
			background-color: $mainColor
			font-family: $archivo
			letter-spacing: 0.08vw
			font-size: 1.6vw
			color: #2b2b2b
			text-align: center
			vertical-align: middle
			&:hover
				background-color: $mainDarker
				transition: 0.5s all
	&_block
		margin-top: 5px
		width: 310px
  		height: 247px
		border-radius: 1.5vw
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.25)
		&_header
			font-size: 2.05vw
			font-family: $archivo
			color: #2b2b2b
			letter-spacing: 1.98px
			margin-top: 23px
			margin-left: 26px
		&_descr
			font-size: 1.5vw
			font-family: $archivo
			line-height: 2vw
			letter-spacing: 1.95px
			text-align: left
			color: #727272
			margin-left: 26px
.seasonEvent
	min-height: 99vh
	padding: 12vw 0 10.9vw 0
	position: relative
	&_santa
		position: absolute
		top: 8.1vw
		left: 7.3vw
		z-index: -1
	&_shadow
		position: relative
		z-index: 1
		bottom: -37.5vw
		left: 3.7vw
	&_wrapper
		width: 42.4vw
		margin-left: 30vw
	&_header
		width: 30vw
		float: right
		text-align: right
		@include title
		font-size: 2.9vw
	&_info
		width: 31.6vw
		float: right
		text-align: right
		@include subtitle
		font-size: 2.08vw
	&_bonus
		margin-top: 10.1vh
		padding: 2.5vw 2.1vw
		width: 42.4vw
		height: 24.5vh
		float: right
		background: linear-gradient(-40deg, $mainColor -10%, #db2874)
		border-radius: 1.3vw
		display: flex
		&_header
			@include title
			font-size: 1.9vw
			color: #fafafa
		&_info
			@include subtitle
			font-size: 1.35vw
			color: #fafafa
		&_candy
			margin-left: 7.8vw
			
		
